<launch>

        <include file="$(find launcher)/launch/simulation.launch">
        </include>
        <include file="$(find fetch_moveit_config)/launch/move_group.launch"></include>

        <include file="$(find launcher)/launch/parameter_setting.launch"></include>

        <group ns="world_manager">
               <!--Load the walls for your workspace-->
               <rosparam command="load" file="$(find launcher)/configs/smoothie.workspace.yaml"/>

               <node name="world_manager" pkg="world_manager" type="world_manager_server.py" output="screen"/>
        </group>

        <!-- RViz -->
        <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find launcher)/configs/config.rviz" 
              output="screen">
        </node>

        <!-- Add random fruits -->
        <node name="fruit_adder" pkg="smoothiebot" type="add_random_fruits.py" output="screen"></node>

        <!-- Graspit Interface -->
        <include file="$(find graspit_interface)/launch/graspit_interface.launch"/>
        

</launch>
